{% extends "nucleo/base.html" %} 

    
{% block content %}

    
<section class="body">
<h2>Clientes</h2>

{% if cliente_list %}


    {% for c in cliente_list %}
   <article style="display:flex">
       <div>
           <img src="{{c.foto.url}}" style="border-radius: 50%; width: 200px; height: 200px;">
       </div>
       <div style="margin-left: 3%;">
           <h3>{{c.nombre}}</h3>
           <p>{{c.apellidos}}</p>
           <button><a href="{% url 'citasCliente' c.pk %}" style="color:orange">ver citas</a></button>
       </div>
    </article> 
   
    {% endfor %}
{% else %}
    <p>Actualmente no hay ningun cliente en el sistema</p>

    {% endif %}

</section>
{% endblock %}