<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yo Te Ayudo</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/ppal.css' %}">
</head>
<body>
    <header>
        <div class="nombre">
            <a href="{% url 'index'  %}" class="noback"><h1>Yo Te Ayudo</h1></a>
            <p>Asesoramiento sobre salud</p>
        </div>
        <div class="headerrigth">
            
            <nav>
                <ul class="horizontal">
                    {% if request.user.is_authenticated and request.user.is_cliente %}
                    <li>
                     <a href="{% url 'listCita'  %}">Historial de citas</a>
                    </li>
                    {% endif %}
                        {% if request.user.is_authenticated and request.user.is_especialista %}
                    <li>
                     <a href="{% url 'listCliente'  %}">Clientes</a>
                    </li>                     
                    {% endif %}
                    <li>
                        <a href="{% url 'listEspecialista'  %}">Nuestros especialistas</a>
                    </li>
                    <li>
                        {% if not request.user.is_authenticated %}
                        <a href="{% url 'login'  %}">Iniciar Sesión</a>
                        {% else %}
                        <a href="{% url 'logout'  %}"><ul>
                            <li>Cerrar Sesión</li> 
                            <li style="font-size: 12px">Usuario: {{request.user.username}}</li>
                            </ul></a>
                        {% endif %}
                    </li>

                </ul>
            </nav>
        </div>
    </header>
    <body>
     <article style="display:flex; justify-content: space-around">
       <div>
           <img src="{{object.foto.url}}" style="border-radius: 50%; width: 200px; height: 200px;">
       </div>
       <div style="margin-left: 3%;">
           <h3>{{object.apellidos}}, {{object.nombre}}</h3>

           
       </div>
       <div>
            <h2>biografía</h2>
            <p>{{object.biografia}}</p>
            <p>{{object.direccion}}</p>
       </div>
    </article> 
    </body>