{% extends "nucleo/base.html" %} 

    
{% block content %}

    
<section class="body">
<h2>Nuestros especialistas</h2>

{% if especialista_list %}


    {% for e in especialista_list %}
   <article style="display:flex">
       <div>
           <img src="{{e.foto.url}}" style="border-radius: 50%; width: 200px; height: 200px;">
       </div>
       <div style="margin-left: 3%;">
           <h3>{{e.nombre}}</h3>
           <p>{{e.apellidos}}</p>
           <button><a href="{%url 'detailEspecialista' e.pk %}" style="color:orange">ver especialista</a></button>
       </div>
    </article> 
   
    {% endfor %}
 <article>
        <a href="{% url 'createCita'  %}" style="color:white"><button style="background-color:green">Solicitar Cita</a>
</article>
{% else %}
    <p>Actualmente no hay ningun especialista en el sistema</p>

    {% endif %}

</section>
{% endblock %}