{% extends "nucleo/base.html" %} 

    
{% block content %}
    <section class="img">
        <div class="unete">
            <span>Yo te ayudo nace con el fin de ayudar a resolver dudas médicas</span>
            <span>durante el colapso sanitario</span>
            <span>en la pandemia del COVID-19</span>
        </div>
    </section>
    <section class="instalaciones">
        
        <div class="nuestras">
            <h2>Equipo de Profesionales</h2>
            <p>Contamos con especialistas en distintos áreas de la salud, no dudes en ponerte en contacto con ellos
            </p>
        </div>

    </section>
    <section style="text-align: center;">
        <a href="" style="color:rgba(0, 0, 0, 0.65)"><h2>Contacta con nosotros</h2></a>
    </section>
  {% endblock %} 
