{% extends "nucleo/base.html" %} 

    
{% block content %}

<section class="body">
<h2>Genera un informe PDF de tus citas</h2>


{% if request.user.is_authenticated and request.user.is_cliente %}
    <section style="padding:20px; text-align:center">
        <form action="{% url 'confirmarPDF' %}" method="POST">
            {% csrf_token %} 
          <Label>
            Fecha anterior
          </Label>
          <input type="date" id="fechaAnterior" name="fechaAnterior" required>
          <label>Fecha posterior</label>
          <input type="date" id="fechaPosterior" name="fechaPosterior" required><br>
            <input type="submit" value="Confirmar Fechas" style="background-color: darkblue;color:white"/>
            </form>
{% endif %}


</section>

{% endblock %}