<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yo Te Ayudo</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/ppal.css' %}">
</head>
<body>
    <header>
        <div class="nombre">
            <a href="{% url 'index'  %}" class="noback"><h1>Yo Te Ayudo</h1></a>
            <p>Asesoramiento sobre salud</p>
        </div>
        <div class="headerrigth">
            
            <nav>
                <ul class="horizontal">
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'listMensaje'  %}">Mensajes</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated and request.user.is_cliente %}
                    <li>
                     <a href="{% url 'listCita'  %}">Historial de citas</a>
                    </li>
                    {% endif %}
                        {% if request.user.is_authenticated and request.user.is_especialista %}
                    <li>
                     <a href="{% url 'listCliente'  %}">Clientes</a>
                    </li>                     
                    {% endif %}
                    <li>
                        <a href="{% url 'listEspecialista'  %}">Nuestros especialistas</a>
                    </li>
                    
                  
                    <li>
                        {% if not request.user.is_authenticated %}
                        <a href="{% url 'login'  %}">Iniciar Sesión</a>
                        {% else %}
                        <a href="{% url 'logout'  %}"><ul>
                            <li>Cerrar Sesión</li> 
                            <li style="font-size: 12px">Usuario: {{request.user.username}}</li>
                            </ul></a>
                            {% endif %}
                    </li>
                    
                   
                </ul>
            </nav>
        </div>
    </header>
    <section style="display: flex; justify-content: space-around;">
    {% if mensaje_list %}
    <section style="width: 40%; margin: 10%">
        <h2>No Leidos</h2>
        <table style="width: 100%;">
            <tr>
                <th>Emisor</th>
                <th>Asunto</th>
                <th>Fecha</th>
           </tr>
    {% for m in mensaje_list %}
    {% if m.idReceptor == request.user %} 
    {% if not m.leido %}
    <tr>
        <td>{{m.idEmisor}}</td>
        <td>{{m.asunto}}</td>
        <td>{{m.fecha}}</td>
   </tr>
   {% endif %}  
    {% endif %}    
    {% endfor %}  
        </table>

<h2>Leidos</h2>
    <table style="width: 100%;">
        <tr>
            <th>Emisor</th>
            <th>Asunto</th>
            <th>Fecha</th>
       </tr>

    {% for m in mensaje_list %}
    {% if m.idReceptor == request.user %} 
    {% if  m.leido %}
<tr>
    <td>{{m.idEmisor}}</td>
    <td>{{m.asunto}}</td>
    <td>{{m.fecha}}</td>
</tr>
{% endif %}
    {% endif %}
{% endfor %}


</table>
</section>
<section style="width: 40%; margin: 10%">
    <h2>Enviados</h2>
    <table style="width: 100%;">
        <tr>
            <th>Enviado a</th>
            <th>Asunto</th>
            <th>Fecha</th>
       </tr>
{% for m in mensaje_list %}
{% if m.idEmisor == request.user %} 
<tr>
        <td>{{m.idReceptor}}</td>
        <td>{{m.asunto}}</td>
        <td>{{m.fecha}}</td>
</tr>
   
    {% endif %}
{% endfor %}



</table>
</section>
{% endif %}
</section>